<div class="wrapper">
  <div class="container-fluid mt-4 margin-top-mbl padding-lr-mbl">
    <div id="demo" class="collapse bg-black color-white height-show ">
      <div class="row mx-0 padding-top-mbl ">
        <div class="col-lg-12 px-4">
            <img src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5cad14da51b229de40b200ec_utilityLogoGlyph--white.svg" 
            alt="" class="image-12">
          </div>
          <div class="col-lg-12 ">
            <div class="row mx-0 mt-3">
              <div class="col-lg-2 fs40 fw600  mt-3 color-white">
               Home
              </div>
              <div class="col-lg-3 fs40 fw600  mt-3 color-grey">
                Case Studies
              </div>
              <div class="col-lg-2 fs40 fw600  mt-3 color-grey">
                Team
              </div>
              <div class="col-lg-2 fs40 fw600  mt-3 color-grey">
                Approach
              </div>
              <div class="col-lg-2 fs40 fw600  mt-3 color-grey">
                Careers
              </div>
              <div class="col-lg-3 fs40 fw600 mt-4">
                <button class="btn btn-dark btn-size">Let's Talk</button>
              </div>
            </div>
    
          </div>
    </div>
    </div>
    <div class="row mx-0 padding-top-mbl ">
      <div class="col-6 px-4">
        <img class="img-size px-3"
          src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5c76e619d2ffcf03ebd48ba8_utility-logo-full-black.svg"
          alt="" class="image-12 web-view"> 
          <img src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5cad0f4db32e3906b9d8845c_utility__logo--glyph.svg" 
          alt="" class="image-12 mbl-view">
        </div>
      <div class="col-6 web-view">
        <div class="row mx-0">
          <div class="col-lg-3 fs16 fw600 px-0 mt-3">
            Case Studies
          </div>
          <div class="col-lg-2 fs16 fw600 px-0 mt-3">
            Team
          </div>
          <div class="col-lg-2 fs16 fw600 px-0 mt-3">
            Approach
          </div>
          <div class="col-lg-2 fs16 fw600 px-0 mt-3">
            Careers
          </div>
          <div class="col-lg-3 fs16 fw600 px-0">
            <button class="btn btn-dark btn-size">Let's Talk</button>
          </div>
        </div>

      </div>
      <div class="col-6 mbl-view">
      <!-- <h1 class="equal-size float-right ">=</h1> -->
      <h1 type="button" class="nothing float-right equal-size" data-toggle="collapse" data-target="#demo">=</h1>
      
      </div>
     
    </div>
  </div>
  
  <div class="container div-space">
    <div class="row mx-0">
      <div class="col-lg-10 text-center fs4r fw700">
        Build. Launch. Grow.

      </div>
    </div>
    <div class="row mx-0">
      <div class="col-lg-10 padding-left fs24 color-grey">
        Utility crafts award-winning mobile experiences driven by strategy, design and technology.


      </div>
    </div>
    <div class="row mx-0 mt-5">
      <div class="col-lg-12 fs24 fw600 padding-left">
        See Our Work
      </div>
    </div>
  </div>
  <div class="div-space bg-pink div-height mx-5">
    <div class="row mx-0">
      <div class="col-lg-6 fs16 fw600 text-position color-white  margin-bottom-mbl">
        <div class="row mx-0">
          <div class="col-lg-12 fs40 fw700">
            Airbnb
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-lg-12 fs20 fw300 mt-3">
            5 major events, 100+ conference sessions,
            <div>
              50+ event speakers
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="row mx-0">
          <div class="col-lg-12 fs16 fw600">
            View case study
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img
          src="https://assets-global.website-files.com/5c896a1dcef909ad687ede7b/5d420157eee523330605b22f_airbnb-coverImage.png"
          alt="" class="image-size">
      </div>
    </div>
  </div>
  <div class="div-space bg-black div-height mx-5">
    <div class="row mx-0 ">
      <div class="col-lg-6  fs16 fw600 text-position color-white margin-bottom-mbl">
        <div class="row mx-0">
          <div class="col-lg-12  fs40 fw700">
            Bleacher Report
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-lg-12 fs20 fw300 mt-3">
            Test your sports knowledge, compete with <br>
            friends
          </div>
        </div>
        <div class="line"></div>
        <div class="row mx-0">
          <div class="col-lg-12 fs16 fw600">
            View case study
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img
          src="https://assets-global.website-files.com/5c896a1dcef909ad687ede7b/5d420011625e7ff524206b94_bleacher-cover.png"
          alt="" sizes="100vw"
          srcset="https://assets-global.website-files.com/5c896a1dcef909ad687ede7b/5d420011625e7ff524206b94_bleacher-cover-p-500.png 500w, https://assets-global.website-files.com/5c896a1dcef909ad687ede7b/5d420011625e7ff524206b94_bleacher-cover-p-800.png 800w, https://assets-global.website-files.com/5c896a1dcef909ad687ede7b/5d420011625e7ff524206b94_bleacher-cover.png 1209w"
          class="image-size">
      </div>
    </div>
  </div>
  <div class="div-space bg-berry div-height mx-5">
    <div class="row mx-0 ">
      <div class="col-lg-6  fs16 fw600 text-position color-white margin-bottom-mbl">
        <div class="row mx-0">
          <div class="col-lg-12  fs40 fw700">
            Carsy
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-lg-12 fs20 fw300 mt-3">
            Renting cars has never been easier
          </div>
        </div>
        <div class="line"></div>
        <div class="row mx-0">
          <div class="col-lg-12 fs16 fw600">
            View case study
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img
          src="https://assets-global.website-files.com/5c896a1dcef909ad687ede7b/5d41ffb0b8b3b4e61c001994_caramel-coverImage.png"
          alt="" sizes="100vw"
          srcset="https://assets-global.website-files.com/5c896a1dcef909ad687ede7b/5d41ffb0b8b3b4e61c001994_caramel-coverImage-p-500.png 500w, https://assets-global.website-files.com/5c896a1dcef909ad687ede7b/5d41ffb0b8b3b4e61c001994_caramel-coverImage-p-800.png 800w, https://assets-global.website-files.com/5c896a1dcef909ad687ede7b/5d41ffb0b8b3b4e61c001994_caramel-coverImage.png 1209w"
          class="image-size">
      </div>
    </div>
  </div>
  <div class="div-space bg-purple div-height mx-5">
    <div class="row mx-0 ">
      <div class="col-lg-6  fs16 fw600 text-position color-white margin-bottom-mbl">
        <div class="row mx-0">
          <div class="col-lg-12  fs40 fw700">
            Football Genius
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-lg-12 fs20 fw300 mt-3">
            Watch NFL games. Predict Plays. <br>
            Win Money.
          </div>
        </div>
        <div class="line"></div>
        <div class="row mx-0">
          <div class="col-lg-12 fs16 fw600">
            View case study
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img
          src="https://assets-global.website-files.com/5c896a1dcef909ad687ede7b/5c8b24afa72c5c56904323d7_football%20genius%20-%20card%20cover.png"
          alt="" class="image-size">
      </div>
    </div>
  </div>
  <div class="div-space bg-blue div-height mx-5">
    <div class="row mx-0 ">
      <div class="col-lg-6 fs16 fw600 text-position color-white margin-bottom-mbl">
        <div class="row mx-0">
          <div class="col-lg-12  fs40 fw700">
            NYC Health + Hospitals
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-lg-12 fs20 fw300 mt-3">
            Personal Asthma tracking and monitoring
          </div>
        </div>
        <div class="line"></div>
        <div class="row mx-0">
          <div class="col-lg-12 fs16 fw600">
            View case study
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img
          src="https://assets-global.website-files.com/5c896a1dcef909ad687ede7b/5ce8138d8eeb15178b17ad46_Case%20Study__Preview--asthme.png"
          alt="" class="image-size">
      </div>
    </div>
  </div>
  <div class="div-space bg-dblack div-height mx-5">
    <div class="row mx-0 ">
      <div class="col-lg-6  fs16 fw600 text-position color-white margin-bottom-mbl">
        <div class="row mx-0">
          <div class="col-lg-12 fs40 fw700">
            TOOR
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-lg-12fs20 fw300 mt-3">
            A high-tech spin on real estate discovery
          </div>
        </div>
        <div class="line"></div>
        <div class="row mx-0">
          <div class="col-lg-12 fs16 fw600">
            View case study
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img
          src="https://assets-global.website-files.com/5c896a1dcef909ad687ede7b/5d41f8ffdb84bd76d18a3db3_Toor-coverimage.png"
          alt="" sizes="100vw"
          srcset="https://assets-global.website-files.com/5c896a1dcef909ad687ede7b/5d41f8ffdb84bd76d18a3db3_Toor-coverimage-p-500.png 500w, https://assets-global.website-files.com/5c896a1dcef909ad687ede7b/5d41f8ffdb84bd76d18a3db3_Toor-coverimage-p-800.png 800w, https://assets-global.website-files.com/5c896a1dcef909ad687ede7b/5d41f8ffdb84bd76d18a3db3_Toor-coverimage.png 1209w"
          class="image-size">

      </div>
    </div>
  </div>
  <div class="div-space text-banner container-padding">
    <div class="row mx-0">
      <div class="col-lg-12 fs40 px-0">
        A proven track record
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-12 fs20 color-grey">
        Our focus is building digital products that gain traction and succeed. If you have the vision for a high-value
        product, we’d love to start a conversation and bring your ideas to life. Blue-chip brands and new startup
        ventures trust Utility to design and engineer award-winning iOS, Android and Web applications that get attention
        and make noise.
      </div>
    </div>
    <div class="row mx-0 mt-5">
      <div class="col-2 mx-3 margin-lr">
        <img
          src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d547550821fb0cb7e0bf892_goodfirms%20(1).png"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 12vw, (max-width: 991px) 9vw, 100vw"
          srcset="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d547550821fb0cb7e0bf892_goodfirms%20(1)-p-500.png 500w, https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d547550821fb0cb7e0bf892_goodfirms%20(1).png 678w"
          alt="" class="symbol-img-size">
      </div>
      <div class="col-2 mx-3 margin-lr">
        <img
          src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d54749eaa6361e8030afea4_Mobile_App_Developers_2019.png"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 12vw, (max-width: 991px) 9vw, 100vw"
          srcset="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d54749eaa6361e8030afea4_Mobile_App_Developers_2019-p-500.png 500w, https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d54749eaa6361e8030afea4_Mobile_App_Developers_2019-p-800.png 800w, https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d54749eaa6361e8030afea4_Mobile_App_Developers_2019.png 1480w"
          alt="" class="symbol-img-size">
      </div>
      <div class="col-2 mx-3 margin-lr">
        <img src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d54733b47c2c8712c231edf_medium.svg"
          alt="" class="symbol-img-size">
      </div>
      <div class="col-2 mx-3 margin-lr">
        <img
          src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d54738e11a04e41e63e07ca_250x250%20C3x.png"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 12vw, (max-width: 991px) 9vw, 100vw"
          srcset="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d54738e11a04e41e63e07ca_250x250%20C3x-p-500.png 500w, https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d54738e11a04e41e63e07ca_250x250%20C3x.png 750w"
          alt="" class="symbol-img-size">
      </div>
      <div class="col-2 mx-3 margin-lr">
        <img
          src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d640a52fb92e74fa9450d94_Manifest.png"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 12vw, (max-width: 991px) 9vw, 100vw"
          srcset="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d640a52fb92e74fa9450d94_Manifest-p-500.png 500w, https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d640a52fb92e74fa9450d94_Manifest-p-800.png 800w, https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d640a52fb92e74fa9450d94_Manifest.png 857w"
          alt="" class="symbol-img-size">
      </div>
    </div>
  </div>
  <div class="container padding-left1 margin-top">
    <div class="row mx-0">
      <div class="col-lg-12 fs40">
        What We Do

      </div>
    </div>
    <div class="row mx-0">
      <div class="col-lg-12 fs20 fw300">
        Or better yet, what don't we do? We are a full-service, end-to- <br>
        end product agency, handling all aspects of the digital product <br>
        lifecycle, from strategy and design to engineering and growth.

      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row mx-0 mb-5">
      <div class="col-lg-4 mb-5">
        <div class="card text-banner px-4 py-5 mx-0">

          <div class="row mx-0">
            <div class="col-lg-12 fs24 fw500">
              Custom Design
            </div>
          </div>
          <div class="row mx-0">
            <div class="col-lg-12 mt-2 fs16 fw300">
              We craft smart solutions with research-backed strategies and high-quality, professional-grade custom
              product designs. We're fanatical about the UX/UI design process, and we go deep to cover all user
              scenarios and edge cases. We get noticed for our brand design, too.
            </div>
          </div>
          <div class="line bg-black"></div>
        </div>
      </div>
      <div class="col-lg-4  ">
        <div class="card text-banner mx-0 px-4 py-5">

          <div class="row mx-0">
            <div class="col-lg-12 fs24 fw500">
              Scalable Applications
            </div>
          </div>
          <div class="row mx-0">
            <div class="col-lg-12 mt-2 fs16 fw300">
              We architect and code hard-core iOS and Android mobile apps, built for scale and security. We don't shy
              away from building custom web platforms either. Our product engineering folks are industry veterans from
              leading technology organizations. We’ve seen it all.
            </div>
          </div>
          <div class="line bg-black"></div>

        </div>
      </div>

      <div class="col-lg-4  ">
        <div class="card text-banner mx-0 px-4 py-5">

          <div class="row mx-0">
            <div class="col-lg-12 fs24 fw500">
              Launch & Growth
            </div>
          </div>
          <div class="row mx-0">
            <div class="col-lg-12 mt-2 fs16 fw300">
              We know how to get you to the starting line on time and within budget, but we don’t stop there. We’re
              strong believers in executing ongoing, fluid Agile product releases using informed decisions based on
              measured learnings from real users. Launching is just the beginning.
            </div>
          </div>
          <div class="line bg-black"></div>

        </div>
      </div>

    </div>
  </div>
  <div class="container-fluid color-white div-height bg-black px-0 mt-5">
    <div class="row mx-0">
      <div class="col-lg-6 container-padding px-5">
        <div class="row mx-0">
          <div class="col-lg-12 fs40 headingb">
            We are Utility
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-lg-12">
            Utility is an end-to-end mobile product agency, focusing on designing and engineering today’s mobile-first
            businesses and new ventures. Founded by digital leaders from companies like Major League Baseball and McCann
            Erickson, Utility is built by folks that have been on the other side of the table and in big spotlights. We
            treat every project as if it was our own, and our process ensures we build products that create measurable
            value on time and on budget.
          </div>
        </div>
        <br>
        <br>
        <div class="row mx-0">
          <div class="col-lg-12">
            Our veteran team of strategists, designers and developers have deep experience across various fields, from
            Entertainment and Media, to Medical and Wellness, to Fintech and Fashion.
          </div>
        </div>
        <div class="line bg-white"></div>

      </div>
      <div class="col-lg-6 px-0">
        <img
          src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d8551769be1204bfaf581b4_we%20are%20utility.jpg"
          class="full-img">
      </div>
    </div>
  </div>
  <div class="container over-container">
    <div class="row mx-0">
      <div class="col-2">
        <img
          src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d6008b838c00e31b8afa55e_logo--airbnb.png"
          id="w-node-2aaff32cf0eb-6b4a6b83" alt="" class="logo-img">
      </div>
      <div class="col-2">
        <img
          src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d6008b9a7638fd27c51ea49_logo-cocaCola.png"
          id="w-node-8787e3f96c80-6b4a6b83" alt="" class="logo-img">
      </div>
      <div class="col-2">
        <img
          src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d6008b814f5cd6dfdc990f2_logo-nba.png"
          id="w-node-2902b0606bdf-6b4a6b83" alt="" class="logo-img">
      </div>
      <div class="col-2">
        <img
          src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d6008b8b6d68d6ff9049e4a_logo-mountsinai.png"
          id="w-node-03e47b8f2463-6b4a6b83" alt="" class="logo-img">
      </div>
      <div class="col-2">
        <img
          src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d6008b938c00e5d74afa567_logo-nychh.png"
          id="w-node-518b6a523c0a-6b4a6b83" alt="" class="logo-img">
      </div>
      <div class="col-2">
        <img src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d6008b838c00e6efcafa55f_logo-br.png"
          id="w-node-ce87c1b7f528-6b4a6b83" alt="" class="logo-img">
      </div>
    </div>
    <div class="row mx-0">
      <div class="col-2">
        <img
          src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d6008b838c00e5589afa55d_logo-verizon.png"
          id="w-node-d0c54e695eb6-6b4a6b83" alt="" class="logo-img">
      </div>
      <div class="col-2">
        <img
          src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d6008b914f5cd31afc991fe_logo-warner.png"
          id="w-node-16dbe3600910-6b4a6b83" alt="" class="logo-img">
      </div>
      <div class="col-2">
        <img
          src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d6008b8c701deec542c2c32_logo-samsung.png"
          id="w-node-7ecd5aa73d14-6b4a6b83" alt="" class="logo-img">
      </div>
      <div class="col-2">
        <img
          src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d6008b8ef7f20e40287908b_logo-directv.png"
          id="w-node-7b2904a114cc-6b4a6b83" alt="" class="logo-img">
      </div>
      <div class="col-2">
        <img src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d6014baa7638fbdd5524ede_logo-buzzfeed.png" 
        id="w-node-fcb7750c36c2-6b4a6b83" alt="" class="logo-img">
      </div>
      <div class="col-2">
        <img
          src="https://assets-global.website-files.com/5c76ce4998ac6bcff7b7f60d/5d7fd148cbe7bd7d717710d6_shark-tank-logo.png"
          id="w-node-b106bf8a974c-6b4a6b83" alt="" class="logo-img">
      </div>
    </div>
  </div>
</div>